In [16]:
try:
    num1=10
    num2=0
    num3=30
    add=num1/num2
    print(add1)
except:
    print("error is there check code")

error is there check code

In [17]:
num1 = eval(input("Enter a num1:"))
num2 = eval(input("Enter a num2:"))
num3 = eval(input("Enter a num3:"))

average = num1+num2+num3/3
print("the average of {},{} and {} is {} ".format(num1,num2,num3,average))

Enter a num1: 10
Enter a num2: 20
Enter a num3: 30

the average of 10,20 and 30 is 40.0

In [24]:
try:
    num1 = eval(input("Enter a num1:"))
    num2 = eval(input("Enter a num2:"))
    num3 = eval(input("Enter a num3:"))

    average = (num1+num2+num3)/0
    print("the average of {},{} and {} is {} ".format(num1,num2,num3,average))
except Exception as e:
    print(e)

Enter a num1: 1020
Enter a num2: 10202
Enter a num3: 383

division by zero

In [30]:
try:
    num1 = eval(input("Enter a num1:"))
    square = num1*num1
    print("Square of {} is {}".format(num1,square))
except Exception as e:
    print(e)

Enter a num1: 12

Square of 12 is 144

In [31]:
print('100')

100

In [32]:
print('hi')

hi