In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = "C:\\Data Science\\Data Science Nareshit\\EDA datasets\\visadataset.csv"
visa_df = pd.read_csv(file_path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [4]:
visa_df.columns
# visa_df.describe()

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [5]:
type(visa_df.columns)

pandas.core.indexes.base.Index

In [6]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

In [7]:
type(visa_df['prevailing_wage'])

pandas.core.series.Series

In [8]:
visa_df['prevailing_wage'].values

array([   592.2029,  83425.65  , 122996.86  , ..., 146298.85  ,
        86154.77  ,  70876.91  ])

In [12]:
dict1 = {}
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std = round(visa_df['prevailing_wage'].std(),2)
dict1['count'] = wage_count
dict1['min'] = wage_min
dict1['max'] = wage_max
dict1['mean'] = wage_mean
dict1['median'] = wage_median
dict1['std'] = wage_std
pd.DataFrame(dict1,index=['previaling_wage'])

                 count   min        max      mean    median       std
previaling_wage  25480  2.14  319210.27  74455.81  70308.21  52815.94

In [14]:
visa_df['prevailing_wage'].nunique()

25454

In [15]:
visa_df['prevailing_wage'].value_counts()

prevailing_wage
82560.2800     2
122.6500       2
60948.1500     2
64357.5800     2
108.1200       2
              ..
25713.9800     1
101656.6400    1
65665.5500     1
50.8813        1
70876.9100     1
Name: count, Length: 25454, dtype: int64

In [21]:
len(visa_df['prevailing_wage'])

25480

In [33]:
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std = round(visa_df['prevailing_wage'].std(),2)
list1 = [wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std]
pd.DataFrame(list1,columns=['Prevailing_wage'],index=['count','min','max','mean','median','std'])

        Prevailing_wage
count          25480.00
min                2.14
max           319210.27
mean           74455.81
median         70308.21
std            52815.94

## Using list

In [37]:
# step -1 : numerical column list
dtypes = dict(visa_df.dtypes)
num = [i for i in dtypes if dtypes[i] != 'O']
num

['no_of_employees', 'yr_of_estab', 'prevailing_wage']

In [85]:
dict1 = {}
for i in num:
    wage_count=round(visa_df[i].count(),2)
    wage_min=round(visa_df[i].min(),2)
    wage_max=round(visa_df[i].max(),2)
    wage_mean=round(visa_df[i].mean(),2)
    wage_median=round(visa_df[i].median(),2)
    wage_std = round(visa_df[i].std(),2)
    q1 =round(np.percentile(visa_df[i],25),2)
    q2 =round(np.percentile(visa_df[i],50),2)
    q3 =round(np.percentile(visa_df[i],75),2)
    list1 = [wage_count,wage_min,wage_max,wage_mean,wage_median,wage_std,q1,q2,q3]
    dict1[i] = list1
    df=pd.DataFrame(dict1,index=['count','min','max','mean','median','std','25%','50%','75%'])
df

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00         25480.00
min              -26.00      1800.00             2.14
max           602069.00      2016.00        319210.27
mean            5667.04      1979.41         74455.81
median          2109.00      1997.00         70308.21
std            22877.93        42.37         52815.94
25%             1022.00      1976.00         34015.48
50%             2109.00      1997.00         70308.21
75%             3504.00      2005.00        107735.51

In [60]:
visa_df.describe()

       no_of_employees   yr_of_estab  prevailing_wage
count     25480.000000  25480.000000     25480.000000
mean       5667.043210   1979.409929     74455.814592
std       22877.928848     42.366929     52815.942327
min         -26.000000   1800.000000         2.136700
25%        1022.000000   1976.000000     34015.480000
50%        2109.000000   1997.000000     70308.210000
75%        3504.000000   2005.000000    107735.512500
max      602069.000000   2016.000000    319210.270000

In [63]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [70]:
print("mean:",np.mean(visa_df['prevailing_wage']))
print("median:",np.median(visa_df['prevailing_wage']))
print("std:",np.std(visa_df['prevailing_wage']))
print("min:",np.min(visa_df['prevailing_wage']))
print("max:",np.max(visa_df['prevailing_wage']))

mean: 74455.81459209183
median: 70308.20999999999
std: 52814.90589711402
min: 2.1367
max: 319210.27

In [81]:
q1 =round(np.percentile(visa_df['prevailing_wage'],25),2)
q2 =round(np.percentile(visa_df['prevailing_wage'],50),2)
q3 =round(np.percentile(visa_df['prevailing_wage'],75),2)
q1,q2,q3

(34015.48, 70308.21, 107735.51)

In [83]:
p1 =round(np.quantile(visa_df['prevailing_wage'],0.25),2)
p2 =round(np.quantile(visa_df['prevailing_wage'],0.50),2)
p3 =round(np.quantile(visa_df['prevailing_wage'],0.75),2)
p1,p2,p3

(34015.48, 70308.21, 107735.51)

In [87]:
len(visa_df)

25480

In [92]:
total = 25480
tfp = 25*25480/100
tfp

6370.0

In [97]:
len(visa_df[visa_df['prevailing_wage'] < 34015])

6370

## Empirical Rule

<img id="dimg_mWRmZ-79BPG1vr0PtsPH2Aw_11" src="" class="YQ4gaf" height="179" style="object-position:42% 0%" width="281" alt="Empirical rule · Hyperskill" data-csiid="mWRmZ-79BPG1vr0PtsPH2Aw_17" data-atf="5">

In [100]:
wage_mean,wage_std

(74455.81, 52815.94)

In [107]:
##### 68% #####
valm1=round((wage_mean -1* wage_std),2)
valp1=round((wage_mean +1* wage_std),2)
##### 95% #####
valm2=round((wage_mean -2* wage_std),2)
valp2=round((wage_mean +2* wage_std),2)
##### 99.7% #####
valm3=round((wage_mean -3* wage_std),2)
valp3=round((wage_mean +3* wage_std),2)
print(valm1,valp1,valm2,valp2,valm3,valp3)

21639.87 127271.75 -31176.07 180087.69 -83992.01 232903.63

In [114]:
##### 68%
cond1 =  visa_df['prevailing_wage'] > valm1
cond2 = visa_df['prevailing_wage'] < valp1
cond1&cond2
len(visa_df[cond1 & cond2])/len(visa_df)

0.673901098901099

In [115]:
##### 95%
cond3=visa_df['prevailing_wage'] > valm2
cond4=visa_df['prevailing_wage'] < valp2
cond3&cond4
len(visa_df[cond3&cond4])/len(visa_df)

0.9647566718995291

In [116]:
##### 99.7%
cond5=visa_df['prevailing_wage'] > valm3
cond6=visa_df['prevailing_wage'] < valp3
cond3&cond4
len(visa_df[cond3&cond4])/len(visa_df)

0.9647566718995291

In [7]:
cond1 = visa_df['prevailing_wage'] > 2.13670000e+00
cond2 = visa_df['prevailing_wage'] < 7982.34003e+03
# cond1&cond2
len(visa_df[cond1&cond2])

25479

In [8]:
len(visa_df[visa_df['prevailing_wage'].between(2.13670000e+00,7.98234003e+03)])

2992